
@{
    
    ViewBag.Title = "Anasayfa";
}

<table border="1">
   <thead>
       <tr>
           <th> Aktif Kullanıcı</th>
           <th> Toplam Ziyaretçi</th>
       </tr>
   </thead>
    <tbody>
        <tr>
            <td>@ViewBag.aktifkullanici</td>
            <td>@ViewBag.toplamziyaretci</td>
        </tr>
    </tbody>
</table>

